﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This test application was created by John Crawford -  <a href="http://www.homedev.com.au">HomeDev</a></p>
This application will take the numeric cheque ammount and return a text value in dollars and cents as would appear on a printed cheque.
