﻿@model akqa.assesment.webmvc.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cheque Printing</h1>
    <p class="lead">This application generates your cheque for printing </p>
</div>

@if (Model == null || !Model.IsProcessed)
{
<div class="row">
    <div class="col-md-12">
        <h2>Cheque Request</h2>
        <p>
            Please enter your cheque details
        </p>
        <p>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                <div class='row'>
                    <div class='col-md-8'>
                        <div class='row'>
                            <div class='col-md-2'>First Name:</div>
                            <div class='col-md-8'>@Html.TextBoxFor(m => m.PaymentRequest.FirstName) @Html.ValidationMessageFor(m => m.PaymentRequest.FirstName)</div>
                        </div>
                        <div class='row top-buffer-small'>
                            <div class='col-md-2'>Last Name:</div>
                            <div class='col-md-8'>@Html.TextBoxFor(m => m.PaymentRequest.LastName) @Html.ValidationMessageFor(m => m.PaymentRequest.LastName)</div>
                        </div>
                        <div class='row top-buffer-small'>
                            <div class='col-md-2'>Amount:</div>
                            <div class='col-md-8'>@Html.TextBoxFor(m => m.PaymentRequest.PaymentAmount)  @Html.ValidationMessageFor(m => m.PaymentRequest.PaymentAmount)</div>
                        </div>

                        <div class='row top-buffer'>
                            <div class="col-md-9">
                                <input type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </p>
    </div>
</div>
}
else
{
<div class="row">
    <div class="col-md-10">
        <h2>Cheque Details</h2>
        <div class="row">
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-1'><strong>To:</strong></div>
                    <div class='col-md-11'>@Html.DisplayTextFor(m => m.PaymentResponse.PersonDisplayName)</div>
                </div>
                <div class='row'>
                    <div class='col-md-1'><strong>Amount:</strong></div>
                    <div class='col-md-11'>@Html.DisplayTextFor(m => m.PaymentResponse.PaymentDisplayValue)</div>
                </div>
                <div class='row top-buffer'>
                    <div class="col-md-1">
                        @Html.ActionLink("Try Again", "Index", "Home", new { @class="btn btn-success"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}